<table class="ui selectable celled table">
  <thead>
    <tr>
      <td>Pos</td>
      <td></td>
      <td>Club</td>
      <td>Played</td>
      <td>Points</td>
      <td><span title="Goal difference">GD</span></td>
      <td>Won</td>
      <td>draws</td>
      <td>losses</td>
      <td>Last games</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let team of table'>
      <td>
        {{team.position}}
        <span *ngIf="team.position !== team.prevPosition">
          <span *ngIf="team.position < team.prevPosition">
            +{{team.prevPosition - team.position}}
          </span>
        <span *ngIf="team.position > team.prevPosition">
            {{team.prevPosition - team.position }}
          </span>
        </span>
        <span *ngIf="team.position === team.prevPosition">
          -
        </span>
      </td>
      <td>
        <img src="{{team.crestURI}}" onerror="this.src='/assets/images/default.jpg'" width="30px" [alt]="team.teamName">
      </td>
      <td><a [routerLink]="['/teams', team.id]">{{team.teamName}}</a></td>
      <td>{{team.playedGames}}</td>
      <td><strong>{{team.points}}</strong></td>
      <td>{{team.goalDifference}}</td>
      <td>{{team.wins}}</td>
      <td>{{team.draws}}</td>
      <td>{{team.losses}}</td>
      <td>
        <span *ngFor='let game of team.lastGames'>
          <span 
            class="circle"
            title="{{game.homeTeamName}} - {{game.awayTeamName}} {{game.result.goalsHomeTeam}}:{{game.result.goalsAwayTeam}}"
          >
             <span *ngIf="game.result.winner === true" class="green">W</span>
        <span *ngIf="game.result.winner === false" class="red">L</span>
        <span *ngIf="game.result.winner === 'draw'" class="blue">D</span>
        </span>
        </span>
      </td>
    </tr>
  </tbody>
</table>
<div class="fl">
  Сurren match day - {{data.matchday}} of {{data.numberOfMatchdays}} total.
  <div>
    <select [(ngModel)]="selectedDay" (change)="onChangeDay($event.target.value)" class="ui dropdown">
     <option *ngFor="let day of dayOptions" [value]="day">Day - {{day}}</option>
   </select>
  </div>
  <div *ngIf="selectedMatchDay">
    <table class="ui selectable celled table">
      <thead>
        <tr>
          <td>img</td>
          <td>title</td>
          <td>points</td>
          <td>wins</td>
          <td>draws</td>
          <td>losses</td>
          <td>Games</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let team of selectedMatchDay'>
          <td>
            <img src="{{team.crestURI}}" onerror="this.src='/assets/images/default.jpg'" width="30px" [alt]="team.teamName">
          </td>
          <td><a [routerLink]="['/teams', team.id]">{{team.teamName}}</a></td>
          <td>{{team.points}}</td>
          <td>{{team.wins}}</td>
          <td>{{team.draws}}</td>
          <td>{{team.losses}}</td>
          <td>{{team.playedGames}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
