<div class="competitions hidden-xs">
  <div *ngIf="lastCompetitions.length">
    <h4>
      Last viewed competitions:
    </h4>
    <div *ngFor='let competition of lastCompetitions'>
      <a [routerLink]="['/competitions', competition.id]">{{competition.caption}}</a>
    </div>
  </div>
  <div *ngIf="competitions.length">
    <h4>
      Competitions:
    </h4>
    <div *ngFor='let competition of competitions'>
      <a [routerLink]="['/competitions', competition.id]">{{competition.caption}}</a>
    </div>
  </div>
</div>
<div class="ui form">
  <div class="inline fields">
    <label>Sort by:</label>
    <div class="field">
      <div>        
        <label>
          <input type="radio" [checked]="isCheched('date')" (change)="onSortChange('date')" />
          Date
        </label>
      </div>
    </div>
    <div class="field">
      <div>        
        <label>
          <input type="radio" [checked]="isCheched('league')" (change)="onSortChange('league')" />
          League
        </label>
      </div>
    </div>
  </div>
</div>
<div class="home">
  <pre class="card card-block card-header">Selected date is: <em *ngIf="dt">{{ getDate() | date:'fullDate'}}</em></pre>

  <template #popTemplate>
    <div [innerHtml]="html"></div>
    <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
  </template>
    
  <button type="button" class="btn btn-success"
        [popover]="popTemplate" popoverTitle="Dynamic html inside" placement="bottom">
        Show me popover with datepicker
  </button>
  <h4>Schedule for {{homeData.timeFrameStart | appDate}} - {{homeData.timeFrameEnd | appDate}}</h4>
  <div *ngFor="let game of homeData.fixtures">
    <h5 *ngIf="isNewCompetition(game, $index)" class="row">
      {{ vocablurary[game._links.competition.id] }}
    </h5>
    <div *ngIf="game && game._links" class="row">
      <span class="col-xs-12 col-md-4">{{ game.date | appDate: 'full' }} {{ game.status }}</span>
      <span class="col-xs-12 col-md-8">
        <img [src]="game._links.homeTeam.img" 
        [alt]="game.homeTeamName" 
        width="20px" onerror="this.src='/assets/images/default.jpg'">    
        <a [routerLink]="['/teams', game._links.homeTeam.id]">
          {{game.homeTeamName}}
        </a> -
        <img [src]="game._links.awayTeam.img" 
          [alt]="game.awayTeamName" 
          width="20px" onerror="this.src='/assets/images/default.jpg'">
        <a [routerLink]="['/teams', game._links.awayTeam.id]">
          {{game.awayTeamName}}
        </a>
        <a [routerLink]="['/history', game._links.self.id]"><strong>history</strong></a>
      </span>    
      
      <span *ngIf="game.status === 'IN_PLAY'">  
        {{game.result.goalsHomeTeam}} : {{game.result.goalsAwayTeam}}
      </span>
              
    </div>    
  </div>
</div>

<back2top></back2top>
