<h2 class="ui header">{{leagueCaption}}</h2>
<div *ngIf="!groups">
  <leagueTable [table]="table" [data]="data"></leagueTable>
</div>


<div class="clearfix"></div>
<div *ngIf="groups">
  <leagueGroup [table]="table"></leagueGroup>
</div>


<h3>Matchweek {{data.matchday}}</h3>
<ol>
  <li *ngFor='let game of fixtures'>
    <span *ngIf="game.status === 'FINISHED'">
      <span game-title [game]="game"></span>    
    </span>

    <span *ngIf="game.status !== 'FINISHED'">   
      {{game.homeTeamName}} - {{game.awayTeamName}} 
      <span>{{game.date | appDate: 'full'}}</span> <span>{{game.status}}</span>
       <span *ngIf="game.status === 'IN_PLAY'">  
         {{game.result.goalsHomeTeam}}: {{game.result.goalsAwayTeam}}
       </span>
    </span>

    <a [routerLink]="['/history', game._links.self.id]">history</a>
  </li>
</ol>