<header class="row" *ngIf="user">
  <span class="col-md-offset-9 col-sm-2">Hello, {{user.username}}</span>
  <span class="col-sm-1">
    <button (click)="logout()">Logout</button>
  </span>
</header>
<aside [class.open]="sideNavOpen">
  <button (click)="closeSideNav()">close</button>
  <div *ngIf="competitions.length">
    <h4>Competitions:</h4>
    <div *ngFor='let competition of competitions'>
      <a [routerLink]="['/competitions', competition.id]">{{competition.caption}}</a>
    </div>
  </div>
</aside>
<p>
  <button (click)="openSideNav()">open menu</button>
  <a [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a>
</p>
